<!DOCTYPE html>
<html>
  <head>
    <title>ZSPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class='nav-bar-parent'>
      <div class='nav-bar'>
        <a href='/'>Z4</a>
        <a href='/'>Inquiries</a>
        <a href='/'>Tattoos</a>
        <a href='/'>Store</a>
      </div>
    </div>
  </body>
</html>
