<!DOCTYPE html>
<html>
  <head>
    <title>ZSPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
    <% end %> 
    <%= yield %>
    <div class='nav-bar'>
      <a href='/'>Z4</a>
      <a href='/'>Inquiries</a>
      <a href='/'>Tattoos</a>
      <a target='_blank' href='https://spatastore.myshopify.com/'>Store</a>
    </div>
  </body>
</html>
